.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: #f4f4f9;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.5s;
  margin-left: 80px;
  overflow: hidden;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 80px; /* Default collapsed width */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #97ccf0;
  overflow-x: hidden;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.sidebar.open {
  width: 20%; /*Same width as search-container*/
}

.sidebar .train_icon {
  width: 50px; /* Smaller icon in sidebar */
  height: 50px;
  margin-bottom: 20px;
}

.sidebar button.openbtn {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
  width: 70%;
  text-align: center;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar button.openbtn:hover {
  background-color: #666;
}

.sidebar ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.sidebar ul li {
  width: 100%;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li:hover {
  color: #f1f1f1;
  background-color: #333;
}

/* Close button inside expanded sidebar */
.sidebar .closebtn {
  align-self: flex-end;
  margin: 10px 15px 0 0;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.content.sidebar-closed {
  margin-left: 80px;
}

.content.sidebar-open {
  margin-left: 20%;
}
