.home-page {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 94vh;
    height: 100%;
    gap: 1rem;
}

.app-train-list-container {
    width: 70%;
    height: 90vh;
    padding: 1rem;
    background: linear-gradient(145deg, #2a2a2a 0%, #3a3a3a 100%);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border: 2px solid #6b46c1;
    overflow-y: auto;
    color: #e5e5e5;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .home-page {
        height: auto;
        flex-direction: column;
    }

    .search-container, .app-train-list-container {
        width: 100%;
        margin-bottom: 1rem;
    }

    .app-train-list-container{
        height: 300px;
    }

    .search-container{
        height: auto;
    }
}

/* Light Theme Styles */
.App.light-theme .app-train-list-container {
    background: linear-gradient(145deg, #ffffff 0%, #f1f5f9 100%);
    border: 2px solid #3b82f6;
    color: #1a202c;
}

.close-button:hover {
    cursor: pointer;
}

.close-button:active {
    cursor: pointer;
}