.home-page {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 94vh;
    height: 100%;
    gap: 1rem;
}

.app-train-list-container {
    width: 70%;
    height: 90vh;
    padding: 1rem;
    background-color: #f0f0f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

.search-container {
    width: 30%;
    height: 90vh;
    padding: 1rem;
    background-color: #f0f0f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .home-page {
        height: auto;
        flex-direction: column;
    }

    .search-container, .app-train-list-container {
        width: 100%;
        margin-bottom: 1rem;
    }

    .app-train-list-container{
        height: 300px;
    }

    .search-container{
        height: auto;
    }
}

.close-button:hover {
    cursor: pointer;
}

.close-button:active {
    cursor: pointer;
}