.full-map-page {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.search-display-box {
    width: 98%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    height: 15%;
    flex-shrink: 0;
    overflow:hidden;
}

.search-container-in-map {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    overflow:hidden;
}

.custom-icon-container {
    background-color: white;
    border-radius: 90%;
    padding: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}