.map-page {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 94vh;
    height: 100%;
    gap: 1rem;
}

.search-container {
    width: 30%;
    padding: 1rem;
    background-color: #f0f0f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .map-container {
    flex: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height:100%;
      overflow: hidden;
    position: relative;
  }

@media (max-width: 768px) {

    .content {
        flex-direction: column;
    }
    .map-page {
        flex-direction: column;
        width: 90%;
    }
    .search-container, .map-container {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
}