.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 500px;
    margin: 0 auto;
}

.top-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form label {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #333;
}

.select-label {
    font-size: 1.2rem; 
    color: #222;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    text-align: left;
}

.select-box {
    width: 90%;
    max-width: 100%;
}

.form select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s ease;
}

.form select:focus {
    border-color: #83bcf9;
}

.optional-criteria-label {
    text-align: left;
}

.form-button {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 4px;
    margin: 3px;
    align-items: center;
    justify-content: center;
}

.form-button:hover {
    border-color: #83bcf9;
    background-color: #a7c8eb;
    cursor: pointer;
}

.form-button:active {
    border-color: #5fa8f5;
    background-color: #85b6eb;
    cursor: pointer;
}

.button-container {
    display: inline-flex;
}

.magenta-icon {
    color: #ed156f;
}

/*Over 768 form should go vertical */
@media (min-width:768px) {
    .form {
        padding-bottom: 3rem;
        flex-direction: column;
    }
}

/* Over 768 and under 1050 buttons specifically should go vertical bc they fall out of the form */
@media (min-width:768px) and (max-width: 1050px) {
    .button-container {
        flex-direction: column;
    }
}